doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		meta(property="og:url"  name="twitter:url" content= "https://www.javascript.my")
    meta(property="og:title" name="twitter:title" content= "Welcome to PenangJS")
    meta(property="og:description" name="twitter:description" content= "Every 3rd Wednesday of the month you'll find us talking about what we're doing and what's happening around us in the world of JavaScript.")
		meta(property="og:image:height" content="600")
		meta(property="og:image:width" content="600")
    meta(property="og:image" content= "https://www.javascript.my/images/logo_600.png")
    meta(property="og:type" content="article")
    meta(name="twitter:card" content="summary")
	
	body
		if authUser
			script.
				// This should be automatically injected by Cordova, but it isn't :( stopgap solution for now
				(function(d){var e = _cdvIframeBridge = d.createElement('iframe');e.style.display='none';d.body.appendChild(e);})(document)
				
				var authUser = {
					type: "#{authUser.type}",
					
					name: {
						first: "#{authUser.name.first}",
						last: "#{authUser.name.last}"
					},
					
					email: "#{authUser.email}",
					
					website: "#{authUser.website}",
					
					profileId: "#{authUser.profileId}",
					
					username: "#{authUser.username}",
					avatar: "#{authUser.avatar}",
					
					accessToken: "#{authUser.accessToken}",
					refreshToken: "#{authUser.refreshToken}"
				}
				
				localStorage.setItem('authUser', JSON.stringify(authUser));
